### print hello world

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [3]:
print(Hello World)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4293340409.py, line 1)

In [4]:
print(10.7)

10.7

In [5]:
First name="Ujjwal"

SyntaxError: invalid syntax (4133025148.py, line 1)

In [7]:
Firstname="Ujjwal"
Firstname

'Ujjwal'

In [9]:
_name="gg"
_name

'gg'

In [10]:
+name="jhhf"
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3985438878.py, line 1)

In [11]:
1name="kjhh"
1name

SyntaxError: invalid decimal literal (184523781.py, line 1)

In [12]:
n1me="jh"
n1me

'jh'

In [13]:
first+name="jhuf"
first+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1433802130.py, line 1)

In [14]:
first_name="jbdhb"
first_name

'jbdhb'

In [15]:
x=10
type(x)

int

In [16]:
x=10.5
type(x)

float

In [17]:
z=True
type(z)

bool

In [18]:
z="true"
type(z)

str

In [19]:
z=true
type(z)

NameError: name 'true' is not defined

In [20]:
x=10
type(x)
x

10

In [21]:
x,type(x)

(10, int)

In [22]:
x,y=10,20
y
x

10

In [23]:
x,y

(10, 20)

In [24]:
y,x

(20, 10)